.App {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tableDetails{
  width: 900px;
  height: 400px;
  overflow: scroll;
  border: 2px solid gray;
  margin-top: 12px;
  float: left;
}

.tableIndex{
  height: 200px;
  width: 890px;
  overflow: scroll;
  padding-top: 10px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border-color: rgb(25, 36, 36);
  width: 20%;
  text-align: center;
  padding: 5px;
}

.userDetail{
  float: left;  
  width: 550px;
  height: 390px;
  border: 2px solid rgb(187, 185, 185);
  padding: 6px;
  background-color: rgb(194, 195, 195);
  margin: 12px 40px -1px 40px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.userDetailsSection{
  padding: 4px;
}

.recordLength{
  display: inline-block;
}